body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-image:  url("fizzbuzz.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: fixed;
        color: rgb(13, 13, 14);
        font-family: Arial, Helvetica, sans-serif;
        text-align: center; 
        font-weight: bold;
  }
  
  .yellowBox {
    background-color: yellow;
    opacity: 0.9;
    width: 300px;
    height: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 50px;
    align-self: center;
    align-items: center;
    align-content: center;
  }  
